<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.MissionUserRecordMapper">

    <resultMap type="org.dromara.shopping.domain.MissionUserRecord" id="MissionUserRecordResult">
        <result property="missionUserRecordId" column="mission_user_record_id"/>
        <result property="missionUserId" column="mission_user_id"/>
        <result property="missionGroupId" column="mission_group_id"/>
        <result property="missionId" column="mission_id"/>
        <result property="status" column="status"/>
        <result property="expiryTime" column="expiry_time"/>
        <result property="drawId" column="draw_id"/>
        <result property="drawType" column="draw_type"/>
        <result property="drawName" column="draw_name"/>
        <result property="drawImg" column="draw_img"/>
        <result property="sendStatus" column="send_status"/>
        <result property="sendAccount" column="send_account"/>
        <result property="pushNumber" column="push_number"/>
        <result property="drawTime" column="draw_time"/>
        <result property="drawNo" column="draw_no"/>
        <result property="sendValue" column="send_value"/>
        <result property="drawQuota" column="draw_quota"/>
        <result property="toType" column="to_type"/>
        <result property="appId" column="app_id"/>
        <result property="url" column="url"/>
        <result property="sendOkTime" column="send_ok_time"/>
        <result property="failReason" column="fail_reason"/>
        <result property="orderCityName" column="order_city_name"/>
        <result property="orderCityCode" column="order_city_code"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="sysDeptId" column="sys_dept_id"/>
        <result property="sysUserId" column="sys_user_id"/>
        <result property="accessCode" column="access_code"/>
    </resultMap>

    <select id="sumMissionQuota" resultType="java.math.BigDecimal">
        SELECT sum(draw_quota)
        FROM `t_mission_user_record` ${ew.customSqlSegment}
    </select>


</mapper>
