<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.PlatformShareConfigMapper">

    <resultMap type="org.dromara.shopping.domain.PlatformShareConfig" id="PlatformShareConfigResult">
    <result property="platformKey" column="platform_key"/>
    <result property="shareTitle" column="share_title"/>
    <result property="shareName" column="share_name"/>
    <result property="shareImage" column="share_image"/>
    </resultMap>


</mapper>
