<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.ProductDateMessageMapper">

    <resultMap type="org.dromara.shopping.domain.ProductDateMessage" id="ProductDateMessageResult">
    <result property="id" column="id"/>
    <result property="productId" column="product_id"/>
    <result property="itemId" column="item_id"/>
    <result property="sellAmount" column="sell_amount"/>
    <result property="settlementPrice" column="settlement_price"/>
    <result property="stock" column="stock"/>
    <result property="date" column="date"/>
    <result property="priceType" column="price_type"/>
    <result property="delFlag" column="del_flag"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
