<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.GroupActivityLogMapper">

    <resultMap type="org.dromara.shopping.domain.GroupActivityLog" id="GroupActivityLogResult">
    <result property="id" column="id"/>
    <result property="activityId" column="activity_id"/>
    <result property="activityName" column="activity_name"/>
    <result property="productId" column="product_id"/>
    <result property="productName" column="product_name"/>
    <result property="sellingPrice" column="selling_price"/>
    <result property="groupPrice" column="group_price"/>
    <result property="groupCount" column="group_count"/>
    <result property="attendCount" column="attend_count"/>
    <result property="groupStatus" column="group_status"/>
    <result property="groupTime" column="group_time"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="delFlag" column="del_flag"/>
        <result property="state" column="state"/>
        <result property="number" column="number"/>
        <result property="groupNumber" column="group_number"/>
    </resultMap>

    <select id="groupExpire" resultMap="GroupActivityLogResult">
        SELECT * FROM `t_group_activity_log` WHERE del_flag = 0 and now() > group_time and state = "1" and group_status = "0"
    </select>


</mapper>
