<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.MerchantMapper">

    <resultMap type="org.dromara.shopping.domain.Merchant" id="MerchantResult">
        <result property="id" column="id"/>
        <result property="merchantName" column="merchant_name"/>
        <result property="merchantNo" column="merchant_no"/>
        <result property="certPath" column="cert_path"/>
        <result property="merchantKey" column="merchant_key"/>
        <result property="status" column="status"/>
        <result property="payCallbackUrl" column="pay_callback_url"/>
        <result property="refundCallbackUrl" column="refund_callback_url"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sysDeptId" column="sys_dept_id"/>
        <result property="sysUserId" column="sys_user_id"/>
    </resultMap>


</mapper>
