<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.OrderYzMapper">

    <resultMap type="org.dromara.shopping.domain.OrderYz" id="OrderYzResult">
    <result property="number" column="number"/>
    <result property="status" column="status"/>
    <result property="createOrderTime" column="create_order_time"/>
    <result property="payOrderTime" column="pay_order_time"/>
    <result property="successOrderTime" column="success_order_time"/>
    <result property="payType" column="pay_type"/>
    <result property="payNumberWb" column="pay_number_wb"/>
    <result property="payNumber" column="pay_number"/>
    <result property="totalAmount" column="total_amount"/>
    <result property="reducedPrice" column="reduced_price"/>
    <result property="wantAmount" column="want_amount"/>
    <result property="outAmount" column="out_amount"/>
    <result property="productName" column="product_name"/>
    <result property="account" column="account"/>
    <result property="mobile" column="mobile"/>
    <result property="refundStatus" column="refund_status"/>
    <result property="refundAmount" column="refund_amount"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="delFlag" column="del_flag"/>
    <result property="orderNumber" column="order_number"/>
    </resultMap>


</mapper>
