<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.ProductMapper">

    <resultMap type="org.dromara.shopping.domain.Product" id="ProductResult">
        <result property="productId" column="product_id"/>
        <result property="externalProductId" column="external_product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productAbbreviation" column="product_abbreviation"/>
        <result property="productSubhead" column="product_subhead"/>
        <result property="productImg" column="product_img"/>
        <result property="productAffiliation" column="product_affiliation"/>
        <result property="productType" column="product_type"/>
        <result property="pickupMethod" column="pickup_method"/>
        <result property="showOriginalAmount" column="show_original_amount"/>
        <result property="originalAmount" column="original_amount"/>
        <result property="sellAmount" column="sell_amount"/>
        <result property="vipUpAmount" column="vip_up_amount"/>
        <result property="vipAmount" column="vip_amount"/>
        <result property="toType" column="to_type"/>
        <result property="appId" column="app_id"/>
        <result property="url" column="url"/>
        <result property="status" column="status"/>
        <result property="cusRefund" column="cus_refund"/>
        <result property="searchStatus" column="search_status"/>
        <result property="showStartDate" column="show_start_date"/>
        <result property="showEndDate" column="show_end_date"/>
        <result property="sellStartDate" column="sell_start_date"/>
        <result property="sellEndDate" column="sell_end_date"/>
        <result property="assignDate" column="assign_date"/>
        <result property="weekDate" column="week_date"/>
        <result property="sellTime" column="sell_time"/>
        <result property="totalCount" column="total_count"/>
        <result property="monthCount" column="month_count"/>
        <result property="weekCount" column="week_count"/>
        <result property="dayCount" column="day_count"/>
        <result property="dayUserCount" column="day_user_count"/>
        <result property="weekUserCount" column="week_user_count"/>
        <result property="monthUserCount" column="month_user_count"/>
        <result property="totalUserCount" column="total_user_count"/>
        <result property="description" column="description"/>
        <result property="providerLogo" column="provider_logo"/>
        <result property="providerName" column="provider_name"/>
        <result property="tags" column="tags"/>
        <result property="showCity" column="show_city"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="shopGroupId" column="shop_group_id"/>
        <result property="btnText" column="btn_text"/>
        <result property="shareTitle" column="share_title"/>
        <result property="shareName" column="share_name"/>
        <result property="shareImage" column="share_image"/>
        <result property="sharePoster" column="share_poster"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="platformKey" column="platform_key"/>
        <result property="sort" column="sort"/>
        <result property="externalProductSendValue" column="external_product_send_value"/>
        <result property="search" column="search"/>
        <result property="payUser" column="pay_user"/>
        <result property="showIndex" column="show_index"/>
        <result property="sendAccountType" column="send_account_type"/>
        <result property="sysDeptId" column="sys_dept_id"/>
        <result property="sysUserId" column="sys_user_id"/>
        <result property="unionPay" column="union_pay"/>
        <result property="unionProductId" column="union_product_id"/>
        <result property="usedStartTime" column="used_start_time"/>
        <result property="usedEndTime" column="used_end_time"/>
        <result property="checkPayCity" column="check_pay_city"/>
        <result property="isCoupon" column="is_coupon"/>
        <result property="isShare" column="is_share"/>
        <result property="supplier" column="supplier"/>
        <result property="lineUpperLimit" column="line_upper_limit"/>
        <result property="payBankType" column="pay_bank_type"/>
        <result property="productSmallImg" column="product_small_img"/>
        <result property="productTypeImg" column="product_type_img"/>
        <result property="isPoup" column="is_poup"/>
        <result property="poupText" column="poup_text"/>
        <result property="sharePermission" column="share_permission"/>
        <result property="shareAmountType" column="share_amount_type"/>
        <result property="shareOneAmount" column="share_one_amount"/>
        <result property="shareTwoAmount" column="share_two_amount"/>
        <result property="couponTip" column="coupon_tip"/>
        <result property="autoRefund" column="auto_refund"/>
        <result property="warnMessage" column="warn_message"/>
        <result property="warnEmail" column="warn_email"/>
        <result property="warnCount" column="warn_count"/>
        <result property="institutionAccountId" column="institution_account_id"/>
        <result property="institutionProductId" column="institution_product_id"/>
        <result property="postage" column="postage"/>
        <result property="isPost" column="is_post"/>
        <result property="changeMobile" column="change_mobile"/>
        <result property="shoppingCart" column="shopping_cart"/>
        <result property="startLuckyDay" column="start_lucky_day"/>
        <result property="luckyDay" column="lucky_day"/>
        <result property="luckyDayCount" column="lucky_day_count"/>
        <result property="installmentOpen" column="installment_open"/>
        <result property="installmentLimit" column="installment_limit"/>
        <result property="installmentBank" column="installment_bank"/>
        <result property="installmentDateType" column="installment_date_type"/>
        <result property="installmentCity" column="installment_city"/>
        <result property="refundRemark" column="refund_remark"/>
        <result property="roomProductId" column="room_product_id"/>
        <result property="exMainProductId" column="ex_main_product_id"/>
        <result property="manualOperation" column="manual_operation"/>
        <result property="isAppointment" column="is_appointment"/>
        <result property="isTicket" column="is_ticket"/>
        <result property="appointmentRemark" column="appointment_remark"/>
        <result property="groupBuying" column="group_buying"/>
        <result property="groupBuyingAmount" column="group_buying_amount"/>
        <result property="profitMargin" column="profit_margin"/>
    </resultMap>

</mapper>
