<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.ProductTicketLineMapper">
    <resultMap type="org.dromara.shopping.domain.ProductTicketLine" id="ProductTicketLineResult">
        <result property="lineId" column="line_id"/>
        <result property="productId" column="product_id"/>
        <result property="sessionId" column="session_id"/>
        <result property="otherId" column="other_id"/>
        <result property="lineTitle" column="line_title"/>
        <result property="linePrice" column="line_price"/>
        <result property="lineSettlePrice" column="line_settle_price"/>
        <result property="lineNumber" column="line_number"/>
        <result property="lineUpperLimit" column="line_upper_limit"/>
        <result property="lineStatus" column="line_status"/>
        <result property="lineDescription" column="line_description"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>
