<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.SupplierBrandMapper">

    <resultMap type="org.dromara.shopping.domain.SupplierBrand" id="SupplierBrandResult">
    <result property="brandId" column="brand_id"/>
    <result property="supplierId" column="supplier_id"/>
    <result property="brandTrademark" column="brand_trademark"/>
    <result property="authorizeLetter" column="authorize_letter"/>
    <result property="delFlag" column="del_flag"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
