<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.shopping.mapper.VerifierSupplierMapper">

    <resultMap type="org.dromara.shopping.domain.VerifierSupplier" id="VerifierSupplierResult">
    <result property="id" column="id"/>
    <result property="verifierId" column="verifier_id"/>
    <result property="supplierId" column="supplier_id"/>
    <result property="delFlag" column="del_flag"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
